.introduction{
  font-style:oblique;
  font-size:35;
  background-color:#E8E4E3;
}
.address{
  font-style:italic;
  color:#5C5B5B;
}
.column{
  width:350px;
  float:right;
  border:1px solid black;
  margin:5px;
  padding:2px;
}
.Education{
  font-style:oblique;
  font-family:sans-serif;
}
.contact{
  font-color:#E82511;
  background-color:#E8E4E3;
  font-family:cursive;
  border: 2px solid black;
  padding:2px
}
